.wd-bg-yellow { background-color: yellow; }
.wd-bg-blue { background-color: blue; }
.wd-bg-red { background-color: red; }
.wd-fg-black { color: black; }
.wd-fg-white { color: white; }
.wd-padding-10px { padding: 10px; }
